<div class="parallax ">
    <section class="intro fade-in align-self-center justify-content-center">
        <hr id="mainHR">
        <h1>Andries Bingani</h1>
        <hr id="mainHR">
        <p>I WRITE WORDS, SOMETIMES THEY COMPILE</p>
    </section>

</div>
<div class="home">
    <section class="homeSection">
        <h1>WHAT AM I ABOUT?</h1>
        <hr id="mainHR">
        <p>  
            I am a committed and proactive full stacks software developer seeking to gain familiarity in the field of Computer Science. 
            Over the past three years, I managed to learn over 15 different programming languages, relative to the three main languages that were taught at school, by learning them during my spare time. 
            In terms of programming experience I have 2 years worth of experience in Angular and Node. 
            I have 6 years worth of experience in C++, 4 years worth of experience in Java and Python (mostly the languages I used during my studies).
        </p>
    </section>
</div>
<div class="leftPic">
    <section>
        <div class="row">
            <div class="col-lg-6">
                <img src="../../assets/pic01.jpg" class="img-fluid" id ="pic01">
            </div>
            <div class="col-lg-6 highSchoolLife align-self-center justify-content-center">
                <h1>HIGH SCHOOL LIFE!</h1>
                <p>
                    I finished my matric with six distinctions at Thuto Lesedi secondary school in Vosloorus from 2009 to 2013. 
                    This was where my interest with computers first started. 
                    This is because I was part of the School's press team. 
                    I started building my knowledge with computers when I was editing movies and pictures using a mac book.
                </p>
            </div>
          </div>
    </section>
</div>

<div class="rightPic">
    <section>
        <div class="row">
            <div class="col-lg-6 highSchoolLife  align-self-center justify-content-center">
                <h1>VARSITY LIFE!</h1>
                <p>
                    I completed my Bsc in Computer Sciences and Computational and Applied Maths, and my BSc honors (with distinctions) in Computer Sciences at the university of the Witwatersrand from 2014 to 2017 while being sponsored by peermont and investec. 
                    I am currently enrolled for my masters in Computer Sciences at the university of the Witwatersrand.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="../../assets/pic02.jpg" class="img-fluid" id ="pic01">
            </div>
          </div>
    </section>
</div>
<div class="leftPic">
    <section>
        <div class="row">
            <div class="col-lg-6">
                <img src="../../assets/pic03.jpg" class="img-fluid" id ="pic01">
            </div>
            <div class="col-lg-6 highSchoolLife  align-self-center justify-content-center">
                <h1>WHAT'S HAPPENING NOW?</h1>
                <p>
                    I am currently a full stack software engineer at investec. 
                    I have worked on a lot ideas the past years and most just being deployed and not making as much profit as we hoped. 
                    For example, I partner up with a friend of mine from congo in an attemp to build a ride app in his country first as it was still not know to the public. It's listed on the playstore as Cäb. 
                    I also pathnered with friend of mine to make an online shop a few years back which is Shop with stylist, these are a potion of the many projects that I have gotten into, checkout the <a routerLink="/projects">projects</a> page.
                    In terms of employment, I am currently looking a position that would be best for gaining experience in the field while further enabling my personal and professional development.
                </p>
            </div>
          </div>
    </section>
</div>
<div class="rightPic">
    <section>
        <div class="row">
            <div class="col-lg-6 highSchoolLife align-self-center justify-content-center">
                <h1>WHAT I DO DURING MY SPARE TIME?</h1>
                <p>
                    I am currently a facilitator for dux which is a people development organisation that offers customised, effective and practical youth development training programmes to high school and tertiary education students with the aim of preparing them with the confidence and skills to enter the workforce as an equipped, elite and employable individual, ready to make an impact in his or her career. 
                    Dux student development programme will set a learner up for success and help you realise your full potential. 
                    Full info at <a href="duxpd.co.za">duxpd.co.za</a>. 
                    I am currently working on their App using ionic which we plan to release on the Appstore and google playstore.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="../../assets/pic04.jpg" class="img-fluid" id ="pic01">
            </div>
          </div>
    </section>
</div>


